* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{

    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
}
.top-block {
    background-color: #1d75de;
    height: 53px;
    display: flex;
    color: white;
    text-decoration: underline;
    position: relative;
    padding: 18px 0px 0px 161px;
    font-size: 12px;
    /* z-index: 1;  */
}

.x {
    /* background-color: red; */
    /* margin: 0px 0px 0px 1168px; */
    padding-left: 1055px;
    font-size: 15px;
    text-decoration: none;
}


.Nav-block {
    /* background-color: white; */
    background-color: black;
    color: white;
    height: 80px;
    /* height: 10vh; */
    
     display:block;
     position: relative;
     
    }
    
    
 .logo  {
    position: absolute;
    display: flex;
    width: 10vw;
   
    display: flex;
    padding: 20px 0px 0px 15px;
    margin: 0px 0px 0px 140px;
  }


.ul{
     display:inline-block;
     list-style: none;
     padding: 0px 26px;
     font-size: 17px;
     position: relative;
     text-align: end;
     margin: 16px 0px 0px 785px;
     font-size: 16px;
     font-weight: bold;

}
.ul li:hover{
    color: rgb(69, 190, 69);
}

.ul li{
  
    display: inline-block;
    padding: 15px;
    /* padding-bottom: 5px; */
  
}
.header-block {
    background-color: rgb(171, 20, 201);
}


.header-block article {
    background-image: url("https://www.scdn.co/i/free/bubbles-dktp.svg");
    
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0);
background-attachment: scroll, scroll;
/* background-image: url("https://www.scdn.co/i/free/bubbles-dktp.svg"), linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)); */
background-origin: padding-box, padding-box;
background-clip: border-box, border-box;
background-size: 100% 1068px;
background-position: center -138px;
  }

  .phone {
    /* padding: 20px 30px 0px 10px ; */
    position: absolute;
    height: 40vw;
    margin: 96px 807px 0px 107px ;
    
}

.pimg img{
    position: absolute;
    
    height: 31vw;
    margin:150px 0px 0px -485px ;
    /* z-index: 1; */
  }
.content1 {
   
    font-weight:bold;
    position: absolute;
    font-size: 50px;
    color: white;
    margin: 198px 0px 0px 446px;
    
}
.button{
   font-size: 15px;
   color: black;
   background-color: rgb(255, 255, 255);
   padding: 1.17vw;
   display: inline-block;
   border-radius: 30px;
   letter-spacing: -0.01em;
   
}
.button:hover{
    transform: scale(1.05);
}


.header-block2 {
    width: 1450px;
    height: 595px;
    /* position: absolute; */
    background-color: white;
    /* background-color: red; */
    
}
.why{
    font-size: 40px;
    position: absolute;
    margin: 69px 0px 0px 603px;
    font-weight:bold;
    
}
.play-sec{
    position: absolute;
    margin: 200px 142px 0px 140px;
    display: flex;
    text-align: center;
    height: 307px;
   
}

/* .fav1{
    width: 285px;
    height: 309px;
    justify-content: center;
    align-items: center;
    
} */

.favorites{
    
    background-image: url("https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57");
    background-size: 142px;
    height: 142px;
    background-repeat: no-repeat;
    background-position: center;
}
.playlist{
    background-image: url("https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66");
    
    height: 142px;
    background-size: 142px;
    background-repeat: no-repeat;
    background-position: center;
}
.make{
    background-image: url("https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d");
    
    height: 142px;
    background-size: 142px;
    background-repeat: no-repeat;
    background-position: center;
}
.save{
    background-image: url("https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc");
    height: 142px;
    background-size: 142px;
    background-repeat: no-repeat;
    background-position: center;
}

.fav-content{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    
}
div p{
    /* margin-top: 5px; */
    line-height: 2;
    font-size: 16px;
    
    letter-spacing: 0.5px;
}
.header3_block{
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    height: 495px;
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 209px;
}
.header4_block {
    height: 586px;
    background-color: white;
}
.header4_block h1{
    text-align: center;
    font-size: 35px;
    padding: 76px;  
}

.question2_ans{
    /* display: flex; */
    /* gap: 20px; */
    padding-left: 20px;
}
.create_playlist{
    /* position: absolute; */
    /* padding: 20px 0px 0px 30px; */
    /* text-decoration: underline; */
    list-style: none;
    margin: 0px 0px 0px 157px;  
}
summary{ 
    list-style: none; 
   
}

summary:hover{
    background-color: rgba(211, 211, 211, 0.511);
    text-decoration: underline;
    width:1140px ;
}

.create_playlist div {
    border-bottom:0.01px solid rgba(128, 128, 128, 0.243);
    /* border-top: 1px solid gray; */
    height: 77px;
    width: 1140px;
    padding: 25px;
    font-weight: bold;
    font-size: 18px;
    
}
.create_playlist span{
    color: rgb(69, 190, 69);
    font-weight: bold;
}
.create_playlist li li,p{
    /* padding-left: 20px; */
    margin-left: 24px;
}

.header5_block article{
    height: 450px;
    /* background-color: red; */
    background-image: url("https://www.scdn.co/i/free/lets-play.svg"), linear-gradient(-45deg, rgb(108, 14, 224) 16%, rgb(240, 55, 166));
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-color: rgb(108, 14, 224);
    background-size: 100% 1114px;
    background-position: left -10px bottom -160px;
    background-repeat: no-repeat;
    
}

.content h1{
    font-size: 74px;
    color: white;
    position: absolute;
    margin: 167px 0px 0px 418px;
}
.content p{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    margin: 267px 0px 0px 623px;
}

.content p:hover{
     transform: scale(1.05);
}


